<html>
<head>
        <!-- <script src="../Js/main.js"></script> -->
        <script language="javascript" type="text/javascript" src="https://requirejs.org/docs/release/2.3.5/minified/require.js"></script>
        <script language="javascript" type="text/javascript" src="../Js/js_encrypt.js"></script>
        <!-- <script language="javascript" type="text/javascript" src="../Js/js_encrypt_test.js"></script> -->
</head>
<body>
    <form onsubmit="uploadBook()">
            <input type="text" id="title">Titulo:<br>
            <input type="text" id="author">Autor:<br>
            <input type="text" id="descripcion">Descripcion:<br>
            <input type="text" id="categorias">Categorias:<br>
            <input type="number" id="precio">Precio:<br>
            ENCRIPTAS <input type="file" id="book_file" onchange="encryptFile(event)"><br> 
            DESCENTRITPAR<input type="file" id="book_file_encrypted" onchange="desencryptFile(event)"><br>
            AMBOS: <input type="file" id="book_file_encrypted" onchange="processFile2(event)"><br>
            <input type="hidden" id="pkey">
            <input type="hidden" id="iv">
    </form>
    
</body>
</html>
